/* $Id$ */

#gomain {
	position: absolute;
	left: 50px;
}

html {
	font-family: sans-serif;
	color: #606080;
}

h1 {
	font-family: sans-serif;
	border: solid 1px #606080;
	padding: 5px;
	font-size: 30px;
}

h2 {
	font-family: sans-serif;
	background-color: #606080;
	color: #ffffff;
	padding: 5px 0;
	padding-left: 20px;
	font-size: 20px;
}

h3 {
	font-family: sans-serif;
	background-color: #f0f0f0;
	color: #606080;
	padding: 5px 0;
	padding-left: 10px;
	font-size: 15px;
}

hr {
	border: solid 1px #606080;
	clear: both;
}

table {
	border: solid 1px #606080;
	width: 100%;
	padding: 5px;
}

th {
	text-align: left;
	width: 20%;
}

#space {
	height: 88px;
}

img {
	border: none;
	background-color: transparent;
}

#title {
	padding: 5px 0;
	font-family: sans-serif;
	background-color: #606080;
	color: #ffffff;
	font-size: 30px;
	text-align: right;
	padding-right: 25%;
}

#toc {
	float: right;
	width: 13em;
	background-color: #f0f0f0;
}

#toctitle {
	font-size: 25px;
	display: inline;
	width: 100%;
}

.shiftlink {
	padding-left: 10px;
}

#shift {
	padding-left: 30px;
}

#doc {
	margin-top: -15px;
}

#doc-notoc {
	margin-top: -15px;
}

#docinside {
	padding-right: 14em;
}

a {
	color: #8080f0;
}

a:visited {
	color: #a0a0a0;
}

#tocinside {
	padding: 5px;
}

pre {
	overflow: scroll;
	width: 100%;
}
